{% load static %}
{% load my_filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
    <script src="{% static 'tasks/script.js' %}"></script>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} — дедлайн: {{ task.deadline }} 
                {% if user_task_dict|get_item:task.id %} ✅ {% else %} ⏳ {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
